.header{
  display: grid;
  grid-template-columns: 452px auto 452px;
  align-items: center; 
  max-width: 1052px;
  margin: 97px 24px 0px 24px;
}

.header__logo {
  height: 105px;
  width: 150px;
}

.header__logo-image {
  height: 100%;
}

/* начинаем новые стили */
.header__nav {
  display: flex;
  gap: 33px;
  list-style: circle;
  padding-left: 26.52px;
}

.header__nav-item-link {
  font-size: 18px;
  line-height: 115%;
  text-decoration: underline;
}

.header__nav-item_link-opened {
  text-decoration: none;
}
.header__nav-item_opened {
  list-style: none;
}

/* стилизуем адрес */
.general-address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  align-self: center;
}
.header__address {
  justify-self: end;
  align-items: flex-start;
  margin-right: 63px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 180px;
  margin: 94px auto;
  margin-bottom: 0px;
}

/* начал ковер */
.cover {
  min-height: 757px;
  padding: 165px 50px 60px 50px;
  background-image: url('../images/cover.jpg');
  background-size:cover;
  background-position: center;
} 

.overlay {
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: color;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  min-height: 355px;
  font-size: 100px;
  letter-spacing: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__title-top {
  display: block;
  line-height: 115%;
}

.cover__title-middle {
  display: block;
  text-align: center;
  line-height: 100%;
}

.cover__title-botton {
  display: block;
  text-align: end;
  margin-right: -30px;
  line-height: 100%;
}

.cover__subline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: #fff;
  margin-top: 115px;
  padding-left: 26px;
  word-spacing: 19px;
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 28px;
}

.button__not-active {
  width: 256px;
  height: 51px;
  font-size: 22px;
  border: 1px solid #fff;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
}

.lots {
  max-width: 1074px;
}
  
.lots__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  padding-left: 63px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 26px;
  margin-left: 22px;
}

.lots__card-list-item {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 334px;
  min-height: 563px;
  color: #fff;
}

.lots__card-article {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 334px;
  height: 563px;
  color: #fff;
  padding: 55px 40px 45px 40px;
  background-size:cover ;
  background-position-x: center;
}

.lots__card-title { 
  font-size: 22px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots__card-discription {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__card-link {
 text-decoration: none;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  margin-top: 32px;
  margin-left: 63px;
}

.about {
  width: 1052px;
  margin-top: 4px;
  padding-left: 70px;
  display: grid;
  grid-template-columns:auto auto;
  grid-column-gap: 75px;
  grid-row-gap: 8px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.about__logo-image {
  width: 150px;
}

.about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 47px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 20px;
  font-weight: 400;
  grid-column: 2/3;
  line-height: 24px;
}

.about__content-top {
  width: 688px;
  letter-spacing: 0.1px;
}

.about__content-buttom {
  width: 693px;
  letter-spacing: 0.07px;
}

.footer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  width: 1000px;
  margin: 182px 50px 90px 50px
}

.footer__nav {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 27px;
  padding-left: 38px;
}

.footer__nav-item {
  list-style: none;
}

.footer__nav-item-link {
  text-decoration: none;
  font-size: 18px; 
  text-decoration: underline;
}

.footer__nav-item_link-opened {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  width: 240px;
  gap: 48px;
  list-style: none;
}

.footer__social-list-style {
  height: 48px;
}